.header {
  position: absolute;
  z-index: 2;
  top: 16px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1440px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  letter-spacing: 0.4px;

  &_ind {
    position: relative;
    top: 0;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    background-color: white;
  }

  &__nav-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-link {
    margin-right: 45px;
    color: var(--black);
    @include trans();

   &_login {
     position: relative;
     padding-right: 13px;
     background: url('../img/login-down-arrow_icon.svg') no-repeat;
     background-position: right 9px;
     background-size: 8px auto;

     &:hover {
       cursor: pointer;
     }
   }
  }

  &__nav-link_active {
    font-weight: bold;
  }

  &__nav-link_light {
    color: var(--white);
  }

  &__nav-link:hover {
    text-decoration: none;
    color: var(--electric-blue);
  }

  &__btn {
    @include borderButton(var(--electric-blue));
    @extend .wave;
    @include fontSH(16px, 16px);

    padding: 10px 14px;
  }

  &__btn_light {
    @include borderButton(var(--white));
  }

  &__btn:focus, &__btn:hover {
    color: var(--electric-blue);
  }

  &__btn_light:focus, &__btn_light:hover {
    color: var(--white);
  }

  &__burger {
    display: none;
  }
}

.header-submenu {
  position: absolute;
  bottom: -172px;
  left: 0;
  transform: translate(-38%, 0);
  width: 285px;
  border-radius: 3px;
  border: solid 1px rgba(151, 151, 151, 0.2);
  background-color: var(--white);
  box-shadow: 0 12px 18px 0 rgba(201, 201, 201, 0.5);

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    background: var(--white);
    transform: translate(-50%, -50%) rotate(45deg);
    border-left: solid 1px rgba(151, 151, 151, 0.2);
    border-top: solid 1px rgba(151, 151, 151, 0.2);
  }

  &__link {
    display: inline-block;
    width: 100%;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    border-bottom: solid 1px #dedede;
    color: var(--electric-blue);
    font-size: 14px;
    font-weight: bold;

    &:last-child {
      border-bottom: none;
    }
  }
}

@media (max-width: 1540px) {
  .header {
    width: 100%;
    padding: 0 50px;

    &_ind {
      top: 0!important;
      //height: 6vh;
    }
  }
}


@media (max-width: 1150px) {
  .header {
    top: 15px;
    padding: 0 36px 0 31px;

    &__nav-wrapper {
      display: none;
    }

    &__burger {
      display: block;
      width: 20px;
      height: 14px;
      position: relative;
    }

    &__burger-dash {
      position: absolute;
      width: 20px;
      height: 2px;
      background: var(--black);
      @include trans();
    }

    &__burger-dash_light {
      background: var(--white);
    }

    &__burger-dash__top {
      top: 0;
    }

    &__burger-dash__middle {
      top: 6px;
    }

    &__burger-dash__bottom {
      top: 12px;
    }
  }
}


@media(max-width: $sm) { // <992
  .header {
    top: 15px;
    padding: 0 36px 0 31px;

    &__nav-wrapper {
      display: none;
    }

    &__burger {
      display: block;
      width: 20px;
      height: 14px;
      position: relative;
    }

    &__burger-dash {
      position: absolute;
      width: 20px;
      height: 2px;
      background: var(--black);
      @include trans();
    }

    &__burger-dash_light {
      background: var(--white);
    }

    &__burger-dash__top {
      top: 0;
    }

    &__burger-dash__middle {
      top: 6px;
    }

    &__burger-dash__bottom {
      top: 12px;
    }
  }
}

@media(max-width: $sm) { // <768
  .header {
    padding: 0 20px;

    &__logo-img {
      width: 213px;
      height: auto;
    }
  }
}