.mpdesc {
  padding-top: 0;
  padding-bottom: 50px;

  &__title {
    @include fontSH(45px, 48px);
    margin-bottom: 39px;
  }

  &__desc {
    margin-bottom: 25px;
    color: var(--slate);
    @include fontSH(18px, 22px);
  }

  &__section-one {
    min-height: 605px;
    margin-bottom: 50px;
    background: url('../img/zzzz@3x.png') no-repeat;
    background-size: contain;
    background-position: calc(50% - 330px) center;
  }

  &__section-two {
    min-height: 605px;
    background: url('../img/group-59-copy-9@3x.png') no-repeat;
    background-size: auto 605px;
    background-position: calc(50% + 337px) top;
  }
}

@media(max-width: $sm) {
  .mpdesc {
    padding-bottom: 20px;

    &__title {
      margin-bottom: 16px;
      @include fontSH(28px, 34px);
    }

    &__section-one {
      margin-bottom: 40px;
      min-height: 400px;
      background-size: 400px auto;
      background-position: calc(50% - 330px) 34px;
    }

    &__section-two {
      min-height: 366px;
      background: url('../img/group-59-copy-9@3x.png') no-repeat;
      background-size: auto 366px;
      background-position: calc(50% + 337px) top;
    }
  }
}

@media(max-width: $xs) {
  .mpdesc {
    padding-bottom: 25px;

    &__title {
      @include fontSH(22px, 26px);
      margin-bottom: 13px;
      margin-top: 0;
    }

    &__section-one {
      margin-bottom: 15px;
      padding-bottom: 280px;
      background-size: 270px auto;
      background-position: 50% bottom;
    }

    &__section-two {
      padding-bottom: 300px;
      background-size: 270px auto;
      background-position: 50% bottom;
    }
  }
}