.pgeneral {

  &_first {
    border-top: solid 1px #f0f1f5;
  }

  &__line {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 5%;
      width: 90%;
      height: 1px;
      background: rgba(151, 151, 151, 0.36);
    }
  }

  &__title {
    margin-bottom: 10px;
    font-family: eurostile-extended;
  }

  &__text-block {
    margin-top: 89px;
    margin-bottom: 110px;
  }

  &__desc {
    margin-bottom: 30px;
    color: var(--slate);
    @include fontSH(18px, 22px);
  }

  &__btn {
    display: inline-block;
    padding: 18px 75px;
    @extend %blue-button;
  }

  &__img-wrapper {
    margin-top: 39px;
  }

  &__img {
    width: 100%;
  }
}

@media(max-width: $sm) {
  .pgeneral {
    &__text-block {
      margin-top: 68px;
      margin-bottom: 48px;
    }
  }
}

@media(max-width: $xs) {
  .pgeneral {
    &__text-block {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__img-wrapper {
      margin-top: 5px;
    }

    &__btn {
      width: 100%;
    }
  }
}