/* Mounting point for all scss files */

@import "helpers";
@import "common";
@import "home-top";
@import "footer";
@import "header";
@import "tales";
@import "home-programs";
@import "instagram";
@import "tips";
@import "check-list";
@import "home-bottom";
@import "program-list";
@import "trans-goals";

