.nutrition-page__text {
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--slate-two);

  &_white {
    color: var(--white);
  }
}

.nutrition__title {
  margin-left: -60px;
  margin-right: -60px;
  font-size: 34px;
  @include block-title();
}

.container-wrapper {
  padding: 0 260px;
}

.clean {
  padding-top: 58px;
  padding-bottom: 75px;
  background-image: url("../img/group-83@3x.png");
  background-repeat: no-repeat;
  background-size: cover;

  &__block-title {
    font-size: 34px;

    span {
      font-weight: 700;
    }
  }
}

.course-for {
  padding-top: 48px;
  padding-bottom: 55px;

  &__subtitle {
    margin-top: 40px;
    padding: 0 50px;
    padding-bottom: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 115px;
      bottom: -15px;
      display: block;
      width: 74px;
      height: 51px;
      background-image: url("../img/group-43@3x.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__table {
    img {
      width: 100%;
    }
  }
}

.benefit {
  padding-bottom: 40px;

  &__desc-block {
    display: none;
  }

  &__img-block {
    margin-bottom: 20px;
    margin-top: 35px;
    margin-left: -40px;
    margin-right: -40px;

    img {
      width: 100%;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.2;
  }

  &__list {
    padding: 0;
    margin: 0;
    color: var(--slate-two);

    &-item {
      margin-bottom: 20px;
    }
  }
}

.why-works {
  padding-top: 20px;
  padding-bottom: 40px;

  &__block-title {
    font-family: 'freight-sans-pro', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  &__block {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url("../img/group-98@3x.png");
    background-repeat: no-repeat;
    background-size: 128px auto;
    background-position: 70% 25%;


    &_no {
      align-items: flex-end;
      position: relative;
      top: -45px;
      background-image: url("../img/group-102@3x.png");
      background-size: 100px auto;
      background-position: 10% 45%;
    }
  }

  &__item {
    padding: 13px;
    padding-left: 25px;
    display: block;
    width: 50%;
    position: relative;
    background-image: url("../img/shape-copy-16@3x.png");
    background-repeat: no-repeat;
    background-position: 5px 21px;
    background-size: 12px auto;
    font-weight: 500;
    font-size: 22px;

    &_no {
      background-image: url("../img/group-103@3x.png");
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      display: block;
      height: 2px;
      width: 80%;
      background-color: rgba(87, 98, 121, 0.2);
    }
  }
}

.how-works {
  padding-bottom: 40px;

  .container-wrapper {
    background-image: url("../img/group-104@3x.png");
    background-repeat: no-repeat;
    background-position: 95% 0;
    background-size: auto 85%;
  }

  &__step {
    position: relative;
    padding: 30px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -50px;
      display: block;
      height: 2px;
      width: 100px;
      background-color: var(--white-two);
    }
  }

  &__step-title {
    margin-bottom: 15px;
    font-size: 24px;
    font-family: 'ff-tisa-web-pro', "Times New Roman", Times, serif;
    line-height: 1.3;
    text-align: center;
  }

  &__text {
    margin: 0;
    text-align: center;
    color: var(--gunmetal);
  }
}

.what-get {
  padding-bottom: 40px;

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    text-align: center;
  }

  &__item {
    padding: 30px 0;
    font-family: 'freight-sans-pro', Arial, sans-serif;
    text-align: center;
    position: relative;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;

      &::after {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -50px;
      display: block;
      height: 2px;
      width: 100px;
      background-color: var(--white-two);
    }

    &-title {
      display: inline-block;
      padding-left: 20px;
      font-weight: 700;
      font-size: 20px;
      margin: 0;
      background-image: url("../img/shape-copy-16@3x.png");
      background-repeat: no-repeat;
      background-position: 0 8px;
      background-size: 10px auto;
    }

    &-text {
      font-size: 18px;
      margin: 0;
    }
  }
}

.curriculum {
  padding-bottom: 40px;

  &__text {
    text-align: center;
  }

  &__item {
    padding-left: 150px;
    padding-top: 27px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 108px;
      height: 125px;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }

    &::after {
      content: '';
      position: absolute;
      left: 53px;
      top: 124px;
      display: block;
      width: 2px;
      height: calc(100% - 123px);
      background-color: var(--warm-grey-two);
      opacity: 0.5;
    }

    &_1 {
      &::before {
        background-image: url("../img/group-105@3x.png");
      }
    }

    &_2 {
      &::before {
        background-image: url("../img/group-106@3x.png");
      }
    }

    &_3 {
      &::before {
        background-image: url("../img/group-107@3x.png");
      }
    }

    &_4 {
      &::before {
        background-image: url("../img/group-108@3x.png");
      }
    }

    &_5 {
      &::before {
        background-image: url("../img/group-109@3x.png");
      }

      &::after {
        display: none;
      }
    }

    &-title {
      margin-bottom: 20px;
      font-family: 'ff-tisa-web-pro', "Times New Roman", Times, serif;
      font-size: 28px;
      line-height: 1.3;
      color: var(--black);
    }

    &-desc {
      margin-bottom: 20px;
      font-family: 'freight-sans-pro', Arial, sans-serif;
      font-size: 20px;
      color: var(--gunmetal);
    }
  }

  &__list {
    padding: 0;
    margin-bottom: 0;
    font-family: 'freight-sans-pro', Arial, sans-serif;
    font-size: 20px;
    color: var(--gunmetal);
    list-style: none;

    &-title {
      font-weight: 700;
    }

    &-item {
      position: relative;
      margin-bottom: 5px;
      padding-left: 15px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 11px;
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--gunmetal);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.additional {
  padding-bottom: 40px;

  &__text {
    text-align: center;
  }

  &__content {
    padding: 0 100px;
  }

  &__item {
    font-family: 'freight-sans-pro', Arial, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 130px;
    border-bottom: 2px solid #dbdbdb;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 60px auto;

    &:first-child {
      padding-top: 15px;
    }

    &:last-child {
      border-bottom: none;
    }

    &_1 {
      background-image: url("../img/if-chat-80-px-510931.svg");
    }

    &_2 {
      background-image: url("../img/if-simpline-39-2305601.svg");
    }

    &_3 {
      background-image: url("../img/if-icon-137-document-certificate-314252.svg");
    }

    &-title {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
    }

    &-text {
      font-size: 18px;
      color: var(--slate);
      line-height: 1.2;
    }
  }
}

.faq {
  padding: 40px 0;
  background-color: rgba(239, 244, 244, 0.7);

  &__item {
    border-bottom: 1px solid #dbdbdb;

    &:last-child {
      border-bottom: none;
    }
  }

  &__question {
    margin: 0;
    padding: 15px 0;
    font-family: 'freight-sans-pro', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.3;
    color: var(--slate);
    cursor: pointer;
  }
}

@media (max-width: $md) {
  .container-wrapper {
    padding: 0 160px;
  }
}

@media (max-width: $sm) {
  .nutrition-page__text {
    text-align: left;
    font-size: 18px;
    color: var(--slate);
    line-height: 1.2;

    &_white {
      color: var(--white);
    }
  }

  .nutrition__title {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size: 28px;
  }

  .container-wrapper {
    padding: 0;
  }

  .course-for {

    &__subtitle {
      padding-left: 0;
      padding-right: 0;
      font-size: 18px;
      color: var(--black);
    }
  }

  .benefit {
    padding-bottom: 30px;

    &__desc-block {
      display: block;
    }

    &__img-block {
      margin-left: -15px;
      margin-right: -15px;
    }

    &__text {
      font-size: 18px;
      line-height: 1.2;
    }

    &__list {

      &-item {
        margin-bottom: 15px;
      }
    }
  }

  .why-works {
    &__block-title {
      font-size: 18px;
    }
  }

  .how-works {
    padding-bottom: 30px;

    .container-wrapper {
      background-image: none
    }

    &__step-title {
      font-size: 22px;
    }

    &__text {
      text-align: center;
      padding: 0 35px;
    }
  }

  .what-get {
    &__text {
      text-align: center;
    }

    &__item {
      padding: 20px 0;
      line-height: 1.2;

      &:first-child {
        padding-top: 0;
      }

      &-title {
        font-size: 18px;
        background-position: 0 6px;
      }

      &-text {
        font-size: 16px;
      }
    }
  }

  .curriculum {
    &__text {
      font-size: 22px;
      text-align: center;
    }

    &__item {

      &-title {
        margin-bottom: 15px;
        font-size: 22px;
      }

      &-desc {
        font-size: 18px;
        line-height: 1.2;
      }
    }

    &__list {
      font-size: 18px;

      &-item {
        margin-bottom: 0;

        &::before {
          top: 10px;
        }
      }
    }
  }

  .additional {
    margin-top: -130px;

    &__text {
      text-align: center;
    }

    &__content {
      padding: 0 150px;
    }

    &__item {
      padding-top: 25px;
      padding-bottom: 25px;
      background-size: 50px auto;

      &-title {
        font-size: 18px;
      }
    }
  }

  .faq {
    &__item {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (max-width: $xs) {
  .nutrition__title {
    font-size: 22px;
  }

  .nutrition-page__text {
    font-size: 16px;
    line-height: 1.2;
  }

  .clean {
    padding-top: 30px;
    padding-bottom: 34px;
    background-position: right 0;
  }

  .course-for {
    padding-top: 27px;
    padding-bottom: 27px;

    &__subtitle {
      margin-top: 20px;
      padding-bottom: 10px;
      font-size: 16px;
      
      &::after {
        display: none;
      }
    }
  }

  .benefit {

    &__img-block {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-top: 25px;
    }

    &__goal-block {
      display: none;
    }
  }

  .why-works {
    padding-top: 10px;
    padding-bottom: 20px;

    &__block-title {
      font-size: 18px;
      text-align: center;
    }

    &__block {
      margin-top: 10px;
    }

    &__list {
      background-image: none;

      &_no {
        align-items: flex-start;
        top: 0;
      }
    }

    &__item {
      width: 100%;
      font-size: 18px;
    }
  }

  .how-works {
    padding-bottom: 20px;

    &__step-title {
      font-size: 18px;
    }

    &__text {
      padding: 0 20px;
    }
  }

  .what-get {
    &__item {
      &-title {
        font-size: 16px;
        background-position: 3px 4px;
      }

      &-text {
        padding: 0 20px;
      }
    }
  }

  .curriculum {
    &__text {
      font-size: 18px;
    }

    &__item {
      padding: 0;
      padding-bottom: 30px;
      padding-top: 100px;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }

      &-title {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 700;
      }

      &-desc {
        margin-bottom: 10px;
        font-size: 16px;
      }
    }

    &__list {
      font-size: 16px;

      &-title {
        font-weight: 400;
      }

      &-item {
        margin-bottom: 4px;
        line-height: 1.2;

        &::before {
          top: 7px;
        }
      }
    }
  }

  .additional {

    &__text {
      font-size: 18px;
    }

    &__content {
      padding: 0;
    }

    &__item {
      padding-left: 70px;
      padding-top: 20px;
      padding-bottom: 0;
      background-size: 40px auto;
      border-bottom: none;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        .additional__item-text::after {
          display: none;
        }
      }

      &-text {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 0;
        font-size: 16px;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 70%;
          background-color: #dbdbdb;
        }
      }
    }
  }

  .faq {
    padding: 30px 0;

    .container {
      padding: 0;
    }

    &__question {
      line-height: 1.3;

      &:first-child {
        padding-top: 0;
      }
    }
  }
}

